<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXBpQvHTAftI-Bfl2cMF3dXmbx0tt3G3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>646374739944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stopwatch.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>charge-it-8b148</string>
	<key>STORAGE_BUCKET</key>
	<string>charge-it-8b148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646374739944:ios:f273750e8dc5ba8a6e9e5d</string>
	<key>DATABASE_URL</key>
	<string>https://charge-it-8b148-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>